/*Michael Antrobus*/
/*Michael_Antrobs@student.uml.edu*/
/*Student in 91.601 GUI Programming 1*/
/*12/6/16*/
/*Css for scrabble*/

body{
    background: url(../img/Scrabble-Logo-Small.jpg);
    background-color: lightblue;
}
p{
    background-color: lightblue;
    text-transform: capitalize;
}
div#container{
    text-align: center;
}
div#score{
    background-color: lightblue;
}
div#total_score{
    background-color: lightblue;
}
div#rack{
    background-color: lightblue;
}
#board {
    display: block;
    font-size: 0;
    border-color: black ;
    border-width: 2px;
    background-color: lightblue;
}

#rack{
    display: inline ;
}

.draggable, .droppable {
    display: inline-block;
}